.main {
  padding: 40px 125px 0 125px;
  box-sizing: border-box;
  background-image: url(../../utils/image/water.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(149, 170, 240);
  flex: 1 1 auto;
}
